// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  transition: all .2s;
}



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#attachment + label{
  display: none;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(hotpink, #a42ef3);// darken(, 10);
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
  &__login{
    background-color: darken(#f60, 5);
    position: absolute;
    width: 210px;
    border-radius: 28px;
    right: 60%;
    bottom: 2%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: none;

    p{
      color: #fff;
      margin: 0;
    }

  }
}

.content {
  text-align: center;

  & .ChatLog  {
    
    transition: width 2s, height 4s;

  }

  & .ChatInput{
    margin-bottom: 3em;
  }
  

}


input.ChatAttachment{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}.ChatAttachment+label{cursor:pointer;display:inline-block;background-color:#fff}.ChatAttachment+label,input.ChatInput{height:25px;border-radius:5px;border:none;padding:10px}input.ChatInput{width:300px}.btn{display:block;padding:5px;border-radius:5px;margin:5px;min-width:100px;background-color:#d3d3d3}ul.ChatLog{list-style:none}.ChatLog{max-width:20em;margin:0 auto}.ChatLog .ChatLog__entry{margin:.5em}.ChatLog__entry{display:flex;flex-direction:row;align-items:flex-end;max-width:100%}.ChatLog__entry.ChatLog__entry_mine{flex-direction:row-reverse}.ChatLog__avatar{flex-shrink:0;flex-grow:0;z-index:1;height:50px;width:50px;border-radius:25px}.ChatLog__entry.ChatLog__entry_mine .ChatLog__avatar{display:none}.ChatLog__entry .ChatLog__message{position:relative;margin:0 12px}.ChatLog__entry .ChatLog__message__image{max-width:100%}.ChatLog__entry .ChatLog__message:before{position:absolute;right:auto;bottom:.6em;left:-12px;height:0;content:"";border:6px solid transparent;border-right-color:#ddd;z-index:2}.ChatLog__entry.ChatLog__entry_mine .ChatLog__message:before{right:-12px;bottom:.6em;left:auto;border:6px solid transparent;border-left-color:#08f}.ChatLog__message{background-color:#ddd;padding:.5em;border-radius:4px;font-weight:lighter;max-width:70%}.ChatLog__entry.ChatLog__entry_mine .ChatLog__message{border-top:1px solid #07f;border-bottom:1px solid #07f;background-color:#08f;color:#fff}